body{
  margin: 0 auto;
}

.nube{
  background: #fff;
  width: 206px;
  height: 77px;
  border-radius: 51px;
  position: absolute;
}
.nube1{
  left: 16%;
  top: 15%;
}
.nube2{
  left: 10%;
  bottom: 16%;
}

.nube3{
  right: 18%;
  top: 20%;

}
.nube4{
  right: 10%;
  bottom: 20%;
}

.nube:before{
  content: '';
  background: #fff;
  width: 73px;
  height: 73px;
  border-radius: 81px;
  position: absolute;
  left: 22px;
  top: -26px;
}
.nube:after{
  content: '';
  background: #fff;
  width: 95px;
  height: 95px;
  position: absolute;
  right: 27px;
  top: -47px;
  border-radius: 100%;
}
.cielo{
  height: 50vh;
  width: 100%;
  position: relative;
  display: flex;
  background:  #2363d6;
  align-items: center;
}


.luna{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  background-color: #ffc795;
  right: -13%;


}
.sol{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: #eff1f0;
  box-shadow: 0px 0px 36px 20px #fdffd7;


}
